-r requirements.txt

# GCP
google-cloud-vision

# AWS
boto3

# Azure
azure-cognitiveservices-vision-computervision

# Paddle
paddlepaddle
paddleocr>=2.0.6

# EasyOCR
easyocr >= 1.7.0
pillow>=10.0.1

# docTR
python-doctr>=0.8

# Surya
surya-ocr>=0.15.0; python_version >= '3.10'

# Test dependencies
ruff
pytest >= 6
pytest-cov
pytest-xdist
openpyxl
sewar
pipdeptree
pyinstrument

# Examples dependencies
jupyter
ipython-autotime
Pillow

# Build tools
wheel
setuptools
pbr
twine