-r requirements.txt

# GCP
google-cloud-vision

# AWS
boto3

# Azure
azure-cognitiveservices-vision-computervision

# Test dependencies
pytest >= 6
pytest-cov
pytest-xdist
openpyxl
sewar

# Examples dependencies
jupyter
ipython-autotime
Pillow

# Build tools
wheel
setuptools
pbr
twine